<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GovEva_PSS_Project">

<listeners>

<listener class-name="com.goveva.qa.utilities.Reporting"/>

</listeners>

  <test name="Test">
  
  <parameter name="browser" value="chrome" />
    <classes>
     
      <class name="com.goveva.qa.upsiTestCases.TC_Upsi_SharerTest"/>
      
    </classes>
  </test> 
</suite> 
